<p>resultaten works!</p>
<mat-form-field appearance="outline">
  <mat-label>Naam</mat-label>
  <input matInput placeholder="uw naam" />
  <mat-icon matSuffix>😊</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>E-mailadres</mat-label>
  <input matInput placeholder="uw naam" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Telefoonnummer</mat-label>
  <input matInput placeholder="Uw telefoonnummer" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Postcode</mat-label>
  <input matInput placeholder="uw naam" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Woonplaats</mat-label>
  <input matInput placeholder="Uw woonplaats" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Adress</mat-label>
  <input matInput placeholder="Uw adress" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Onderwerp</mat-label>
  <input matInput placeholder="Het onderwerp" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Schrijf hier uw vraag </mat-label>
  <textarea matInput placeholder="Wat is uw vraag?"></textarea>
</mat-form-field>
