<p>resultaten works!</p>
<!-- naam gebruiker -->
<mat-form-field appearance="outline" hintLabel="Maximaal 15 charaters">
  <mat-label>Naam</mat-label>
  <input
    matInput
    #input
    maxlength="15"
    placeholder="Uw naam"
    (input)="onInput($event)"
  />
  <mat-hint align="end">{{ value().length }}/15</mat-hint>
  <mat-icon matSuffix>😊</mat-icon>
  <!-- email gebruiker -->
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>E-mailadres</mat-label>
  <input
    matInput
    placeholder="uw naam"
    [formControl]="email"
    (blur)="updateErrorMessage()"
    required
  />
  @if (email.invalid) {
  <mat-error>{{ errorMessage() }}</mat-error>
  }
  <mat-icon matSuffix>😍</mat-icon>
</mat-form-field>
<!-- Telefoonnummber gebruiker -->
<mat-form-field appearance="outline">
  <mat-label>Telefoonnummer</mat-label>
  <input matInput placeholder="Uw telefoonnummer" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Postcode</mat-label>
  <input matInput placeholder="uw naam" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Woonplaats</mat-label>
  <input matInput placeholder="Uw woonplaats" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Adress</mat-label>
  <input matInput placeholder="Uw adress" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Onderwerp</mat-label>
  <input matInput placeholder="Het onderwerp" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Schrijf hier uw vraag </mat-label>
  <textarea matInput placeholder="Wat is uw vraag?"></textarea>
</mat-form-field>
