<h1>Contact form</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <label for="name">Uw naam:</label>
  <input type="text" id="name" name="name" formControlName="name" />
  <label for="email">Uw e-mail:</label>
  <input type="email" id="email" name="email" formControlName="email" />
  <label for="phoneNum">Telefoon nummer:</label>
  <input type="tel" id="phoneNum" name="phoneNum" formControlName="phoneNum" />
  <label for="woonplaats">Woonplaats:</label>
  <input
    type="text"
    id="woonplaats"
    name="woonplaats"
    formControlName="woonplaats"
  />
  <label for="adress">adress:</label>
  <input type="text" id="adress" name="adress" formControlName="adress" />
  <label for="Onderwerp">Onderwerp:</label>
  <input
    type="text"
    id="Onderwerp"
    name="Onderwerp"
    formControlName="Onderwerp"
  />
  <label for="bericht">Bericht:</label>
  <textarea name="bericht" id="bericht" formControlName="bericht"></textarea>

  <button type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>
