<h1>Contact form</h1>
<form>
  <label for="name">Uw naam:</label>
  <input type="text" id="name" name="name">
  <label for="email">Uw e-mail:</label>
  <input type="email" id="email" name="email">
  <label for="phoneNum">Telefoon nummer:</label>
  <input type="tel" id="phoneNum" name="phoneNum"> 
  <label for="woonplaats">Woonplaats:</label>
  <input type="text" id="woonplaats" name="woonplaats">
  <label for="adress">adress:</label>
  <input type="text" id="adress" name="adress">
  <label for="Onderwerp">Onderwerp:</label>
  <input type="text" id="Onderwerp" name="Onderwerp">
  <label for="bericht">Bericht:</label>
  <textarea name="bericht" id="bericht"></textarea> 
</form>